{% extends 'adminpages/adminbase.html' %}
{% load humanize %}

{% block title %}Swap Detail{% endblock  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Swap Detail</h3>
            <hr>
            <p><span class="font-weight-bold">Swap ID: </span> #SWAP_{{swp_obj.id}}</p>
            <p><span class="font-weight-bold">SWap Status: </span> {{swp_obj.order_status}}</p>
            <p><span class="font-weight-bold">Created On: </span> {{swp_obj.created_at}}({{swp_obj.created_at|timesince}} ago)</p>
            <p><span class="font-weight-bold">User Information: </span> By {{swp_obj.created_by}}</p>
            <h4>Swap Items</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in swp_obj.cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target="_blank"
                                href="{% url 'swapshop:itemdetail' cp.item.slug %}">{{cp.item.title}}({{cp.item.id}})</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{% url 'swapshop:adminswapstatuschange' swp_obj.id %}" method="POST">
                {% csrf_token %}
                <select name="status">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == swp_obj.swap_status %}selected{% endif %}>{{j}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info">Change</button>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
