{% extends "adminpages/adminbase.html" %}

{% block title %}Admin Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Pending Swaps</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Swap ID </th>
                        <th>User</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for swap in pendingswaps %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'swapshop:adminswapdetail' swap.id %}">#SWAP_{{swap.id}}</a></td>
                        <td>{{swap.created_by}}</td>
                        <td>{{swap.created_at}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}