{% extends 'adminpages/adminbase.html' %}

{% block title %}All SWaps {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Swaps</h3><hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Swap ID </th>
                        <th>User</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for swap in allswaps %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'swapshop:adminswapdetail' swap.id %}">#SWAP_{{swap.id}}</a></td>
                        <td>{{swap.created_by}}</td>
                        <td>{{swap.created_at}}</td>
                        <td>{{swap.swap_status}}</td>
            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}