appdirs==1.4.4
asgiref==3.3.4
attrs==21.2.0
black==21.5b1
boto==2.49.0
boto3==1.17.86
botocore==1.20.86
certifi==2023.7.22
cffi==1.14.5
chardet==4.0.0
cli-helpers==2.1.0
click==8.0.1
configobj==5.0.6
coverage==5.5
cryptography==39.0.1
dateutils==0.6.12
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.18
django-allauth==0.44.0
django-debug-toolbar==3.2.1
django-location-field==2.1.0
django-s3direct==1.1.8
django-shortcuts==1.6
django-storages==1.11.1
django-truncate==0.1
Faker==8.6.0
faker-vehicle==0.2.0
flake8==3.9.2
geographiclib==1.50
geopy==2.1.0
googlemaps==4.4.5
gunicorn==20.1.0
humanize==3.10.0
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
jmespath==0.10.0
mccabe==0.6.1
mypy-extensions==0.4.3
oauthlib==3.2.2
packaging==21.0
pathspec==0.8.1
pgcli==2.1.1
pgspecial==1.13.0
pluggy==0.13.1
prompt-toolkit==2.0.10
psycopg2-binary==2.9.3
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.9.0
PyJWT==2.4.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-decouple==3.4
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.31.0
requests-oauthlib==1.3.0
s3transfer==0.4.2
sarge==0.1.6
setproctitle==1.2.2
six==1.16.0
sqlparse==0.3.1
tabulate==0.8.9
terminaltables==3.1.0
text-unidecode==1.3
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
whitenoise==5.2.0
zipp==3.4.1
