{% extends 'base.html' %}

{% block content %}
{% include 'itemhead.html' %}
<p></p>
    <h1> {{ object.name }} </h1>
    {% for cat in object.category.all %}
        <p><span class="form-label">Categories: </span>{{ cat }}  </p>
    {% endfor %}
    
    <p><span class="form-label">Description: </span>{{ object.description }}</p>
    <p><span class="form-label">Condition: </span>{{ object.condition }}</p>
    <p><span class="form-label">Location: </span>{{ object.location }}</p>
<p></p>
{% endblock %}