{% extends "itemmgmt/itembase.html" %}

{% block title %}Item Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Items Available</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Item Created</th>
                        <th>Location</th>
                        <th>Condition</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in item_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'itemmgmt:itemdetail' item.id %}">{{item.name}}</a></td>
                        <td>{{item.uploaded_at}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.condition}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}