{% extends 'base.html' %}
{% block title %}Create New Item{% endblock %}
{% block content %}
{% include 'itemhead.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto p-5">
            <h3>Add New Item</h3>
            <hr>
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info">Submit Item</button>
                {{ form.media }}
            </form>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static "/js/places.js" %}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=activatePlacesSearch">
</script>
{% endblock %}