{% extends 'base.html' %}
{% block title %}Initiate New swap{% endblock %}
{% block content %}
{% include 'swaphead.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto p-5">
            <h3>Initiate New swap</h3>
            <hr>
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info">Send email</button>
                {{ form.media }}
            </form>
        </div>
    </div>
</div>

{% endblock %}