{% extends 'base.html' %}
<!-- Adds dropshadow on hover -->
{% load static %}
<script src="{% static "/js/shadow.js"  %}"></script>


{% block content %}
{% include 'userswaphead.html' %}
<section class="py-5">
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
    {% for item in items %}
        <div class="col mb-5">
            <div class="card h-100 rounded">
                <!-- Product image-->
                <a href="{% url 'swapshop:itemdetail' item.slug %}"><img class="card-img-top" src="{{item.image.url}}" alt="{{item.title}}" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder"><a href="{% url 'swapshop:itemdetail' item.slug %}">{{item.title}}</a></h5>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
