{% extends 'base.html' %}



{% block content %}
{% include 'userswaphead.html' %}
<section class="py-5">
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
    {% for item in items %}
        {% if not item.archived %}
            <div class="col mb-5">
                <div class="card h-100 rounded">
                    <!-- Product image-->
                    <a href="{% url 'swapshop:itemdetail' item.slug %}"><center><img class="card-img-top shadow m-2 mt-3" style="width: 150px; height: 150px" src="{{item.image.url}}" alt="{{item.title}}" /></center></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder"><a href="{% url 'swapshop:itemdetail' item.slug %}">{{item.title}}</a></h5>
                    </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark btn-warning mt-auto" href="{% url 'swapshop:arcmyitem' item.slug %}"  Onclick="return WarningUndoItemArc();">Archive Item</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark btn-danger mt-auto"  href="{% url 'swapshop:remmyitem' item.slug %}"  Onclick="return WarningUndoItemDel();">Delete Item</a></div>
                    </div>
                    
                </div>
            </div>
        {% else %}
            <div class="col mb-5">
                <div class="card h-100 text-dark bg-light rounded">
                    <!-- Product image-->
                    <a href="{% url 'swapshop:itemdetail' item.slug %}"><center><img class="card-img-top shadow m-2 mt-3" style="width: 150px; height: 150px" src="{{item.image.url}}" alt="{{item.title}}" /></center></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder"><a href="{% url 'swapshop:itemdetail' item.slug %}">{{item.title}}</a></h5>
                    </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark btn-danger mt-auto" href="{% url 'swapshop:remmyitem' item.slug %}" Onclick="return WarningUndoItemDel();" >Delete Item</a></div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
